header h1 {
font-size: 2.5rem;
color: #ffffff;
text-transform: uppercase;
letter-spacing: 2px;
text-align: center;
margin: 0;
}


body {
background: #e3e3e3;
margin: 0;
font-family: Arial, sans-serif;
}
